<%=form_tag "index/create",method:"post",role:"form",id:"frm" do %>

<%= label_tag "name", "Nombres", class:"form-group"%>
<%= text_field_tag "name",@user.name,class:"form-control"%><p>
<p>
	<%= label_tag "last", "Apellidos", class:"form-group"%>
	<%= text_field_tag "last",@user.last,class:"form-control"%>
<p>
<p>
	<%= label_tag "email", "Email", class:"form-group"%>
	<%= text_field_tag "email",@user.email,class:"form-control"%>
<p>
<p>
	<%= label_tag "password","Password", class:"form-group"%>
	<%= password_field_tag "password",@user.password, class:"form-control"%>
<p>
<p>
	<%= label_tag "password_confirmation","Confirmar",class:"form-group" %>
	<%= password_field_tag "password_confirmation",@user.password_confirmation, class:"form-control"%>
<p></p>
<hr>
<%= submit_tag 'Guardar' ,class:"btn btn-primary" %>

<%end %>
