<div class="home">
	<%= image_tag(@concurso.avatar,class:"foto") %>

</div>
<div class="home-pane">
	<div class="home-header">
		<%= @concurso.name%>
	</div>

</div>

<%= link_to 'Subir Video', video_path(id:@concurso.id), class:"btn btn-info btn-lg ct" %>

<div class="vid-panel">
	
<%=will_paginate @vidclips%>

	<% c=0%>
	<% @vidclips.each do |t|  %>

	<%if c== 0%>
	<div class="row reg">
		<%end%>
		<%if c < 10 %>

		<div class="col-md-4 cdp">

			<%= link_to video_tag(t.vid, size:"250x250"),t.converted_url  %>

		</div>

		<% c=c+1%>
		<%end%>
		<%if c==10%>
	</div>
	<% c=0%>
	<%end%>
	<%end%>
		

<%=will_paginate @vidclips%>
</div>

<div class="home-final">
	<span>Final:</span>
	<span><%= @concurso.close_date%></span>
</div>
<div class="home-inicio">
	<span>Inicio:</span>
	<span><%= @concurso.open_date%></span>
</div>

